.check-flex {
    display: flex;
    align-items: center;
}

.password-conditions p {
    margin: 4px 0;
}

.matched::before {
    content: '✓ ';
    color: green;
}

.unmatched::before {
    content: '✕ ';
    color: red;
}

.error-message {
    color: red;
    margin-top: 8px;
}